<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Demoive.github.io by demoive</title>

    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    {% include analytics.html %}

    <div class="wrapper">
      <header>
        <h1>Paulo Ávila</h1>
        <img src="http://www.gravatar.com/avatar/fb5061b088e81a06dbb5df2236f5fabe?s=200">

        <p>
          I'm a fan of anything web.<br>
          My handle is usually <em>demoive</em>.<br>
          I <a href="http://labandsambant.com/">bang drums</a> on occasion.<br>
        </p>
      </header>

      <section>
        {{ content }}
      </section>

      {% include footer.html %}

    </div>
  </body>
</html>